body
{
    font-family: helvetica;
}

h1 
{ 
    font-family: Helvetica; 
    color: white; 
    background-color: black; 
    text-align: center;
}

div.navigation ul
{
    list-style: none;
    text-align: center;
}

div.navigation li
{
    display: inline-block;
}

a
{
    background-color: darkgrey;
    text-decoration: none;
    color: black;
}


