body
{
    font-family: helvetica;
}

h1 
{ 
    font-family: Helvetica; 
    color: white; 
    background-color: black; 
    text-align: center;
}

h2
{
    font-family: helvetica;
    text-align: center;
}

div.navigation ul
{
    list-style: none;
    text-align: center;
}

div.navigation li
{
    display: inline-block;
}

a
{
    background-color: darkgrey;
    text-decoration: none;
    color: black;
}

p
{
    font-family: helvetica;
    margin-right: 150px;
    margin-left: 150px;
}

table
{
    text-align: center;
    border: 1px solid;
}

th
{
    border: 1px solid;
}

td
{
    border: 1px solid;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
